url = "/twiggy-ovoce-s-proteinem"
layout = "default"
title = "TWIGGY Ovoce s proteinem"

[section bar]
handle = "Protein"

[viewBag]
seo_title = "Twiggy Ovoce s proteinem – Zdravá energie vždy po ruce"
seo_description = "Twiggy Ovoce s proteinem je dokonalá kombinace šťavnatého ovoce, proteinových křupek a vitamínu C, která vám dodá energii a zároveň si ji vychutnáte jako lahodnou svačinku."
robot_index = "index"
robot_follow = "follow"
localeSeo_description[en-gb] = "Twiggy Fruit with Protein is the perfect combination of juicy fruit, protein crisps, and vitamin C, delivering energy in a delicious snack."
localeSeo_description[pl] = "Twiggy Owoce z Proteinami to doskonałe połączenie soczystych owoców, chrupiących proteinowych kuleczek i witaminy C, które dostarczają energii w pysznej przekąsce."
localeRobot_index[en-gb] = "index"
localeRobot_index[pl] = "index"
localeRobot_follow[en-gb] = "follow"
localeRobot_follow[pl] = "follow"
localeSeo_title[en-gb] = "Twiggy Fruit with Protein – Healthy Energy Always at Hand"
localeSeo_title[pl] = "Twiggy Owoce z Proteinami – Zdrowa Energia Zawsze pod Ręką"
meta_keywords = "Twiggy Ovoce s proteinem"
localeMeta_keywords[en-gb] = "Twiggy Fruit with Protein"
localeMeta_keywords[pl] = "Twiggy Owoce z Proteinami"
==
<section class="max-hero bar-hero">
    <div class="container-fluid h-100 d-flex align-items-center justify-content-center">
        <div class="row">

            <div class="col-12 col-lg-6 d-flex flex-column align-items-start justify-content-center gap-4 left-slide">
                <div class="d-flex gap-2 gap-lg-5">
                    <div>
                        <img src="{{ 'assets/img/logo-twiggy.svg'|theme }}" alt="TWIGGY" class="img-fluid" width="250">
                        <h3 class="text-ovoce2 pt-2 text-uppercase">{{ 'OVOCE S PROTEINEM'|_ }}</h3>
                    </div>
                
                    <img src="{{ 'assets/img/stickers/power.svg'|theme }}" alt="Twiggy" width="100" class="d-none d-sm-block">
                </div>
            
                <div>
                    {{bar.popis|content}}
                </div>

                <div class="d-flex flex-column align-items-start gap-4">
                    <a class="btn-text" href="#why" role="button">{{ 'Chceš vědět víc?'|_ }}
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10.0405H18M18 10.0405L10 2.04053M18 10.0405L10 18.0405" stroke="#0A5E2C" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <hr>
                    </a>
    
                    <a class="btn-text" target="_blank" rel="noopener noreferrer" href="https://eshop.druidcz.com/vyhledavani/?string=twiggy" role="button">{{ 'Koupit'|_ }}
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10.0405H18M18 10.0405L10 2.04053M18 10.0405L10 18.0405" stroke="#0A5E2C" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <hr>
                    </a>
                </div>


            </div>

            <div class="col-12 col-lg-6 mt-4 mt-lg-0 d-flex align-items-center justify-content-center">
                <div class="image-stack">
                    <img src="{{ 'assets/img/twiggy-protein/bg.png'|theme }}" alt="Twiggy Ovoce s proteinem" class="image-stack__item" width="80%">
                    <img src="{{ 'assets/img/twiggy-protein/ovoce.webp'|theme }}" alt="Twiggy Ovoce s proteinem" class="ovoce orechy image-stack__item" width="70%">
                    <img src="{{ 'assets/img/twiggy-protein/bars.png'|theme }}" alt="Twiggy Ovoce s proteinem" class="bars image-stack__item" width="90%">
                </div>
            </div>

        </div>
    </div>
    
</section>

<section id="why" class="pt-0">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <h2 class="text-blue mb-4 w-75">{{ 'Pro koho je ideální?'|_ }}</h2>
                <ul class="p-0 why-list">

                    <li class="d-flex align-items-center gap-4">
                        <img src="{{ 'assets/img/icons/mountain.svg'|theme }}" alt="icon" width="40" height="40">                          
                        <p class="text-blue m-0"><strong>{{ 'Pro aktivní životní styl'|_ }}</strong> – {{ 'ať už sportujete, chodíte na túry nebo trávíte dlouhé dny v pohybu, Twiggy vám rychle doplní energii.'|_ }}</p>  
                    </li>

                    <li class="d-flex align-items-center gap-4">
                        <img src="{{ 'assets/img/icons/smile.svg'|theme }}" alt="icon" width="40" height="40">
                        <p class="text-blue m-0"><strong>{{ 'Pro maminky a děti'|_ }}</strong> – {{ 'ideální zdravá svačina na školní přestávku, výlet nebo jako odměna.'|_ }}</p>  
                    </li>

                    <li class="d-flex align-items-center gap-4">
                        <img src="{{ 'assets/img/icons/car.svg'|theme }}" alt="icon" width="40" height="40">                          
                        <p class="text-blue m-0"><strong>{{ 'Pro zaneprázdněné profesionály'|_ }}</strong> – {{ 'rychlé a výživné řešení do kanceláře či mezi schůzkami.'|_ }}</p>  
                    </li>


                    <li class="d-flex align-items-center gap-4">
                        <img src="{{ 'assets/img/icons/sun.svg'|theme }}" alt="icon" width="40" height="40">                          
                        <p class="text-blue m-0"><strong>{{ 'Pro každého, kdo dbá na zdraví'|_ }}</strong> – {{ 'přírodní složení bez zbytečných přidaných látek a výborný zdroj vitamínu C.'|_ }}</p>  
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-7 bar-wrapper mt-5 mt-lg-0">
            
                <div class="d-flex align-items-center justify-content-center">

                    <ul class="bar-list">
                        <li>{{ 'Plná ovoce'|_ }}</li>
                        <li>{{ 'Šťavnatá chuť'|_ }}</li>
                        <li>{{ 'Proteinové křupky'|_ }}</li>
                        <li>{{ 'Přidaný vitamín C '|_ }}</li>
                    </ul>
            
            
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="nude-bar" src="{{ 'assets/img/twiggy-protein/nude-bar.webp'|theme }}" alt="twiggy">
                    </div>

                    <ul class="bar-list">
                        <li>{{ 'Čekankový sirup'|_ }}</li>
                        <li>{{ 'Praktická svačinka'|_ }}</li>
                        <li>{{ 'Vysoký obsah vlákniny'|_ }}</li>
                        <li>{{ 'Zdroj bílkovin'|_ }}</li>
                    </ul>
            
                </div>
            
            </div>
        </div>
    </div>
</section>


<section class="swiper-section pt-5">

        <div class="swiper swiper-bars">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">

                {% for item in bar.tycinky %}
                <div class="swiper-slide" data-name="{{item.menu}}">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-md-2">

                            <div class="col mb-5 mb-lg-0 d-flex align-items-center justify-content-center">
                                <img class="swiper-img" src="{{ item.img|media }}" alt="Twiggy Müsli" width="90%">
                            </div>

                            <div class="left-col col text-start d-flex flex-column justify-content-center gap-4">
                
                                <h2 class="text-blue">{{item.nazev}}</h2>

                                <div>
                                    <h3>{{ 'Složení'|_ }}:</h3>
                                    <p class="small text-content m-0">{{item.slozeni}}</p>
                                </div>
                                
                
                                <div>
                                    <h3>{{ 'Výživové údaje na 100 g'|_ }}:</h3>
                
                                    <table class="table table-striped">
                                        <tbody>
                
                                            {% for value in item.vyzivove_udaje %}
                                            <tr>
                                                <td>{{ value.nazev }}</td>
                                                <td>{{ value.hodnota }}</td>
                                            </tr>
                                            {% endfor %}
                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                {% endfor %}
                
            </div>
            
        </div>

    
</section>