<div class="card-row row row-cols-1 row-cols-md-2 g-4 g-md-5 position-relative z-1">
                    <div class="col">
                        <div class="about-card bg-yellow text-center text-blue box-shadow">
                            <p class="fw-bold m-0">{{ 'Jsme'|raw|_ }}</p>
                            <h2 class="m-0">1.</h2>
                            <p class="fw-bold m-0">{{ 'Müsli tyčinka v ČR'|raw|_ }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="about-card card2 bg-green text-center text-crema box-shadow">
                            <p class="fw-bold m-0">{{ 'V našich tyčinkách je až'|raw|_ }}</p>
                            <h2 class="m-0">60%</h2>
                            <p class="fw-bold m-0">{{ 'ovoce'|raw|_ }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="about-card card3 bg-ovoce2 text-center text-crema box-shadow">
                            <p class="fw-bold m-0">{{ 'Na trhu jsme více než'|raw|_ }}</p>
                            <h2 class="m-0">{{ '30 let'|raw|_ }}</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="about-card card4 bg-musli text-center text-blue box-shadow">
                            <p class="fw-bold m-0">{{ 'Kvalita je na'|raw|_ }}</p>
                            <h2 class="m-0">1.</h2>
                            <p class="fw-bold m-0">{{ 'místě'|raw|_ }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="about-card card5 bg-crema text-center text-blue box-shadow">
                            <h2 class="m-0">0</h2>
                            <p class="fw-bold m-0">{{ 'přidaných barviv'|raw|_ }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="about-card card6 bg-ovoce3 text-center text-blue box-shadow">
                            <p class="fw-bold m-0">{{ 'Hořká čokoláda'|raw|_ }}</p>
                            <h2 class="m-0">54%</h2>
                            <p class="fw-bold m-0">{{ 'kvalita, žádná poleva'|raw|_ }}</p>
                        </div>
                    </div>

                </div>